@model IEnumerable<Medhya.Admin.Models.Item>

@{
    ViewData["Title"] = "Index12";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index12</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FK_CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BarCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CGST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SGST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tax1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tax2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tax3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tax4)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FK_CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CGST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SGST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tax1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tax2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tax3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tax4)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
